body {
  font-family: sans-serif;
  background: #f8f8f8;
  margin: 0;
}

h1 {
  text-align: center;
  margin-top: 1rem;
}

.todo-panel,
.schedule-panel {
  background: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.input-field input[type="text"],
.input-field input[type="color"],
.input-field select {
  margin-bottom: 1rem;
}

ul#todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ccc;
  padding: 0.5rem;
  vertical-align: top;
}

th {
  background: #eee;
}

.event-input .btn-small {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

footer.page-footer {
  padding-top: 0;
}

footer .row {
  margin-bottom: 0;
}
